In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [16]:
data=pd.read_csv("bilet.csv")

In [17]:
data.head()

   sıra  fiyat
0     1    100
1     2     80
2     3     70
3     4     60
4     5     50

In [18]:
x=data.sıra.values.reshape(-1,1)
y=data.fiyat.values

In [19]:
plt.scatter(x,y)

NameError: name 'plt' is not defined

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dc=DecisionTreeRegressor(max_debth=3)

In [ ]:
yhead=dc.predict(x)

In [ ]:
y

In [ ]:
yhead

In [ ]:
dc.predict([[6]])

In [ ]:
plt.scatter